/*Only use this file if you want to override bootstrap or create your own style*/

#endgame, .header, .pet-button, .item-button {
    font-family: 'Oswald', sans-serif;
}

#endgame {
    background-color: rgba(138, 7, 7 ,0.5);
    color: black;
    font-size: 25px;
    text-align: center;
    display: none;
}

#patience-bar {
    height: 400px;
    background-color: rgba(138, 7, 7 ,0.5);
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Sigmar One";
    transition: .5s height;
}


.cat-img {
    flex-shrink:0;
    min-width:95%;
    min-height:95%;
}

.pet-block {
    height: 120px;
}

#pet-buttons {
    display: none;
    margin: 10px;
}

.pet-button {
    display: inline-block;
    margin: 10px;
    height: 100px;
    width: 120px;
    border: 2px solid gray;
    padding: 40 10 0 10;;
    text-align: center;
    border-radius: 10%;
    font-weight: bold;
    opacity: .3;
    font-size: 17px !important;
}

.pet-button:hover, .img-button:hover {
    opacity: .9;
}

.hand {
    background-image: url("media/hand.png");
    background-size: 100%;
    opacity: .4;
    height: 130px;
    width: 130px;
}

.chest {
    background-image: url("media/chest.png");
    background-size: 100%;
    opacity: .7;
    height: 130px;
    width: 130px;
}

.img-button {
    background-repeat: no-repeat;
    display: inline-block;
    padding: 6px;
}

.mid-hand {
    position: relative;
    top: -10px;
}

.outer-hand {
    position: relative;
    top: 30px;
}

.item-button {
    border: 1px solid gray;
    display: inline-block;
    width: 70px;
    padding: 20 10 20 10;
    text-align: center;
    border-radius: 10%;
    font-weight: bold;
    color: gray !important;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    top: 15px;
    left: 15px;
}

.active-items-row {
    height: 315px;
    padding-top: 10px;
}

#item-buttons {
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    right: -15;
    background-color: rgba(47, 79, 79, 0.2);
    padding: 10 10 0 0;
    margin-left: 100px;
    border: 3px solid lightgray;
    height: 150px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.hand a:hover {
    color: black !important;
}

.chest a:hover {
    color: white !important;
}


#replay-button {
    display: none;
}

.item-img {
    border-radius: 50%;
    border: 3px double darkgray;
}

ul {
    display: inline-block;
}

.info-button {
  padding-left: 5px;
  padding-right: 50px;
}

.background {
    background-image: url("media/bed.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.item-panel {
    opacity: .6;
    background-color: darkslategrey !important;
    text-align: center;
    color: white !important;
    font-size: 12px;
    border-radius: 50%;
}

.border {
    border: 1px solid lightslategray !important;
    border-radius: 5%;
    background-color: rgba(0,0,0,0.4);
    padding: 0px;
}